.mobile-menu {
  /*  position: absolute;*/
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transform: translateX(100%);

    background-color: var(--white-color);
    @media screen and (min-width: 768px) {
        display: none;}
     &__button { background-color: (--white-color);
        border: none;
    @media screen and (min-width: 768px) {
        display: none;
        fill: currentColor;
    }}
    &__container {
        position: relative;
        padding: 48px 40px;
        height: 100vh;
    }

    &__button--close {
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 99;
        background-color: var(--white-color);
        border: none;
    }

    &__wraper {
        position: absolute;
        bottom: 48px;
        right: 40px;
        left: 40px;
    }
}
.menu-container.menu-container.is-open{transform: translateX(0);}
.mobile-menu-nav,
.mobile-menu-contact,
.mobile-menu-social {
    &__link {
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--button-text-color);
    }
}

.mobile-menu-nav {
    &__link {
        font-size: 40px;
        line-height: 1.175;
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__link--active {
        color: var(--accent-color);
    }
}

.mobile-menu-contact {
    &__list {
        margin-bottom: 30px;

        @media screen and (min-height: 523px) {
            margin-bottom: 64px;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 15px;

        @media screen and (min-height: 523px) {
            margin-bottom: 32px;
        }
    }

    &__link {
        font-size: 15px;
        line-height: 1.167;
        color: var(--gray-color);

        @media screen and (min-width: 380px) {
            font-size: 24px;
        }
    }

    &__link--blue {
        color: var(--accent-color);
        font-size: 24px;
        line-height: 1.176;

        @media screen and (min-width: 380px) {
            font-size: 34px;
        }
    }
}

.mobile-menu-social {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        font-size: 18px;
        line-height: 1.2;
        color: var(--accent-color); }

    &__item {
        margin-top: 10px;}

    &__item:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid var(--brdrinput-color);
    }
}

.mobile-menu-nav__link,
.mobile-menu-social__link,
.mobile-menu-contact__link,
.mobile-menu__button {

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: currentColor;
    }
}
