:root {
    --white-color: #ffffff;
    --button-color: #f5f4fa;
    --black-color: #212121;
    --gray-color: #757575;
    --accent-color: #2196f3;
    --hero-color: rgba(47, 48, 58, 0.4);
    --button-text-color: #212121;
    --contact-color: rgba(255, 255, 255, 0.6);
    --logo-color: #2196f3;
    --border-color: rgba(238, 238, 238, 1);
    --footer-color: #2f303a;
    --benefitsli-color: rgba(117, 117, 117, 1);
    --icon-color: rgba(175, 177, 184, 1);
    --bgicon-color: rgba(255, 255, 255, 0.1);
    --bgmodal-color: rgba(255, 255, 255, 1);
    --bgthumb-color: rgba(47, 48, 58, 0.8);
    --bgthcard-color: rgba(33, 150, 243, 0.9);
    --brdrinput-color: rgba(33, 33, 33, 0.2);
}